*{
	margin:0px;
	padding:0px;
}

body{
	background: #aaa;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/* Attach this class to body for phases*/ 
.day{
	background: light-blue;
}
.night{
	background: dark-blue;
}
.container{
	max-width: 1280px;
	width: 100%;
	margin:0 auto;
}
.metainfo{
	padding:5px;
	text-align:center;
}
.timer{
	padding:5px;
	text-align:center;
}
.supplemental{
	text-align:center;
}
.player-tile{
	border:1px solid black;
	width: 100%;
	height: 100px;
	display:table;
	position:relative;
}
.eliminated{
	content:"";
	display:block;
	position: relative;
	background: rgba(120,25,25,0.8);
}

.player-tile > div{
	display:table-cell;
	vertical-align:middle;
}
.role-badge{
	width: 100px;
	height: 100%;
	background: blue;
}
.doctor{	
	background: red;
}
.detective{
	background: blue;
}
.vigilante{
	background: black;
}
.barman{
	background: yellow;
}
.player-info{
	padding:25px;
	font-size: 20px;
}
.votecount{
	padding:25px;
	font-size: 24px;
}
.tictac{
	max-width: 600px;
	background-color: rgba(255,255,255,1);
	margin: 0 auto;
	z-index: 4;
	position: relative;
	top: 0px;
}
#test{
	width:200px;
	height:100px;
	margin:auto;
}